.product-container{
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
    margin-top: 120px;
    /* background-color: aqua; */
    z-index: 20000;
   
  
}

.productDetails{
    width: 70%;
    display: flex;
    justify-content: space-between;
    
  

    

    
}

.product-left-container{
    display: flex;
    margin: 4px;
    

    
}

.product-right-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    
   text-align: left;
 
  
}

.product_img{
      /* background-color: forestgreen; */
      height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 400px;
border: 2px solid whitesmoke;
   
}

.product-right-container  div{
    margin: 12px;
    border-radius: 12px;
}

/* .product_img:hover{
    
    position:relative;
    top:-25px;
    left:-35px;
   
    width: 600px;
    height: 600px;
    display:block;
    z-index:999;

    
} */

@media only screen and (max-width: 425px) {
    .product-container{
        margin: 0px;
       margin-top: 65px;
    }
    .productDetails{
      flex-direction: column;
    }
.product-left-container{
    width: 250px;
    flex-direction: column-reverse;
    margin: 0;
}
.product-right-container{
    margin: 0;
    width: 250px;
}
.product_img{
    margin-left: -4px;
    text-align: center;
    width: 250px;
}
}